In [3]:
'''
1. Load the messy dataset ("messy_population_data.csv") using Python with pandas.
2. Perform an exploratory data analysis (EDA) to identify data quality issues.
3. Document each issue you discover in your `readme.md`, including:
   - Description of the issue
   - Column(s) affected
   - Example of the problematic data
   - Potential impact on analysis if left uncleaned

Use pandas functions like `info()`, `describe()`, `isnull().sum()`, `duplicated().sum()`, and `value_counts()` to aid your exploration. 
'''
import pandas as pd
import numpy as np

In [4]:
rawdata = pd.read_csv("/Users/avantikasharma/06-data-munging-AvantikaSharma3357/messy_population_data.csv")

In [5]:
rawdata.head()

  income_groups  age  gender    year  population
0   high_income  0.0     1.0  1950.0   7798286.0
1   high_income  0.0     1.0  1951.0   7739711.0
2   high_income  0.0     3.0  1952.0   7713905.0
3   high_income  0.0     1.0  1953.0   7722053.0
4   high_income  0.0     1.0  1954.0   7756149.0

In [6]:
rawdata.tail()

              income_groups   age  gender    year  population
125713           low_income  29.0     1.0  2115.0  16617821.0
125714           low_income  27.0     1.0  2108.0   4913711.0
125715  lower_middle_income  87.0     2.0  2105.0   3978771.0
125716  lower_middle_income  74.0     1.0  2110.0   9614177.0
125717           low_income  16.0     2.0  2111.0   9182705.0

In [7]:
rawdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125718 entries, 0 to 125717
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   income_groups  119412 non-null  object
 1   age            119495 non-null  float64
 2   gender         119811 non-null  float64
 3   year           119516 non-null  float64
 4   population     119378 non-null  float64
dtypes: float64(4), object(1)
memory usage: 4.8+ MB

In [8]:
list(rawdata)
for columns in list(rawdata):
    print(columns, ":", len(rawdata[columns].unique()))

income_groups : 9
age : 102
gender : 4
year : 170
population : 114926

In [9]:
rawdata.describe()

                 age         gender           year    population
count  119495.000000  119811.000000  119516.000000  1.193780e+05
mean       50.007038       1.578578    2025.068049  1.112983e+08
std        29.154144       0.590559      43.584951  1.265205e+09
min         0.000000       1.000000    1950.000000  2.100000e+01
25%        25.000000       1.000000    1987.000000  2.316023e+06
50%        50.000000       2.000000    2025.000000  7.145754e+06
75%        75.000000       2.000000    2063.000000  1.466388e+07
max       100.000000       3.000000    2119.000000  3.293043e+10

In [10]:
rawdata.isnull().sum()

income_groups    6306
age              6223
gender           5907
year             6202
population       6340
dtype: int64

In [29]:
rawdata.duplicated().sum()

np.int64(2182)

In [12]:
rawdata.value_counts()

income_groups             age   gender  year    population
high_income               18.0  2.0     1969.0  7139540.0      3
                          19.0  2.0     2027.0  7172036.0      3
                          37.0  1.0     2053.0  8635195.0      3
                          45.0  2.0     2016.0  8391024.0      3
                          46.0  1.0     2003.0  7893866.0      3
                                                              ..
upper_middle_income_typo  98.0  2.0     2009.0  42613.0        1
                                        2083.0  2261647.0      1
                                        2091.0  2469639.0      1
                                        2098.0  255352600.0    1
high_income               0.0   1.0     1973.0  7622554.0      1
Name: count, Length: 95425, dtype: int64

In [13]:
for value in rawdata["income_groups"].unique():
    print(value)

high_income
nan
high_income_typo
low_income
low_income_typo
lower_middle_income
lower_middle_income_typo
upper_middle_income_typo
upper_middle_income

In [14]:
for value in rawdata["income_groups"].unique():
    print(value,":", sum(rawdata["income_groups"]== value))
    print("percentage : ", sum(rawdata["income_groups"]== value)/119412)

high_income : 28343
percentage :  0.23735470471979367
nan : 0
percentage :  0.0
high_income_typo : 1475
percentage :  0.012352192409473085
low_income : 28433
percentage :  0.2381083978159649
low_income_typo : 1505
percentage :  0.012603423441530164
lower_middle_income : 28323
percentage :  0.23718721736508894
lower_middle_income_typo : 1517
percentage :  0.012703915854352996
upper_middle_income_typo : 1462
percentage :  0.012243325628915017
upper_middle_income : 28354
percentage :  0.23744682276488124

In [15]:
for value in rawdata["gender"].unique():
    print(value, ":", sum(rawdata["gender"]== value))

1.0 : 56777
3.0 : 6286
nan : 0
2.0 : 56748

In [16]:
print(rawdata["age"].unique())

[  0.  nan   1.  10. 100.  11.  12.  13.  14.  15.  16.  17.  18.  19.
   2.  20.  21.  22.  23.  24.  25.  26.  27.  28.  29.   3.  30.  31.
  32.  33.  34.  35.  36.  37.  38.  39.   4.  40.  41.  42.  43.  44.
  45.  46.  47.  48.  49.   5.  50.  51.  52.  53.  54.  55.  56.  57.
  58.  59.   6.  60.  61.  62.  63.  64.  65.  66.  67.  68.  69.   7.
  70.  71.  72.  73.  74.  75.  76.  77.  78.  79.   8.  80.  81.  82.
  83.  84.  85.  86.  87.  88.  89.   9.  90.  91.  92.  93.  94.  95.
  96.  97.  98.  99.]

In [17]:
unique_data = rawdata["age"].unique()
sums={}
for age in unique_data:
    sums[age]= sum(rawdata["age"]==age)
print(sums)

{np.float64(0.0): 1175, np.float64(nan): 0, np.float64(1.0): 1173, np.float64(10.0): 1190, np.float64(100.0): 1174, np.float64(11.0): 1187, np.float64(12.0): 1205, np.float64(13.0): 1167, np.float64(14.0): 1173, np.float64(15.0): 1182, np.float64(16.0): 1184, np.float64(17.0): 1184, np.float64(18.0): 1185, np.float64(19.0): 1178, np.float64(2.0): 1173, np.float64(20.0): 1175, np.float64(21.0): 1163, np.float64(22.0): 1189, np.float64(23.0): 1185, np.float64(24.0): 1194, np.float64(25.0): 1183, np.float64(26.0): 1190, np.float64(27.0): 1193, np.float64(28.0): 1187, np.float64(29.0): 1189, np.float64(3.0): 1190, np.float64(30.0): 1202, np.float64(31.0): 1211, np.float64(32.0): 1181, np.float64(33.0): 1183, np.float64(34.0): 1186, np.float64(35.0): 1176, np.float64(36.0): 1181, np.float64(37.0): 1180, np.float64(38.0): 1190, np.float64(39.0): 1192, np.float64(4.0): 1173, np.float64(40.0): 1172, np.float64(41.0): 1170, np.float64(42.0): 1167, np.float64(43.0): 1183, np.float64(44.0): 1195, np.float64(45.0): 1191, np.float64(46.0): 1179, np.float64(47.0): 1182, np.float64(48.0): 1198, np.float64(49.0): 1190, np.float64(5.0): 1195, np.float64(50.0): 1181, np.float64(51.0): 1190, np.float64(52.0): 1182, np.float64(53.0): 1201, np.float64(54.0): 1181, np.float64(55.0): 1187, np.float64(56.0): 1196, np.float64(57.0): 1188, np.float64(58.0): 1160, np.float64(59.0): 1177, np.float64(6.0): 1184, np.float64(60.0): 1170, np.float64(61.0): 1183, np.float64(62.0): 1179, np.float64(63.0): 1180, np.float64(64.0): 1193, np.float64(65.0): 1193, np.float64(66.0): 1181, np.float64(67.0): 1169, np.float64(68.0): 1172, np.float64(69.0): 1172, np.float64(7.0): 1168, np.float64(70.0): 1170, np.float64(71.0): 1167, np.float64(72.0): 1182, np.float64(73.0): 1182, np.float64(74.0): 1179, np.float64(75.0): 1185, np.float64(76.0): 1175, np.float64(77.0): 1196, np.float64(78.0): 1164, np.float64(79.0): 1191, np.float64(8.0): 1181, np.float64(80.0): 1173, np.float64(81.0): 1186, np.float64(82.0): 1175, np.float64(83.0): 1197, np.float64(84.0): 1179, np.float64(85.0): 1179, np.float64(86.0): 1180, np.float64(87.0): 1184, np.float64(88.0): 1191, np.float64(89.0): 1176, np.float64(9.0): 1181, np.float64(90.0): 1183, np.float64(91.0): 1202, np.float64(92.0): 1184, np.float64(93.0): 1193, np.float64(94.0): 1182, np.float64(95.0): 1191, np.float64(96.0): 1191, np.float64(97.0): 1194, np.float64(98.0): 1178, np.float64(99.0): 1192}

In [18]:
print(rawdata.info())
print(rawdata.describe())

rawdata = rawdata.drop(rawdata[rawdata["gender"]== 3.0].index)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125718 entries, 0 to 125717
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   income_groups  119412 non-null  object
 1   age            119495 non-null  float64
 2   gender         119811 non-null  float64
 3   year           119516 non-null  float64
 4   population     119378 non-null  float64
dtypes: float64(4), object(1)
memory usage: 4.8+ MB
None
                 age         gender           year    population
count  119495.000000  119811.000000  119516.000000  1.193780e+05
mean       50.007038       1.578578    2025.068049  1.112983e+08
std        29.154144       0.590559      43.584951  1.265205e+09
min         0.000000       1.000000    1950.000000  2.100000e+01
25%        25.000000       1.000000    1987.000000  2.316023e+06
50%        50.000000       2.000000    2025.000000  7.145754e+06
75%        75.000000       2.000000    2063.000000  1.466388e+07
max       100.000000       3.000000    2119.000000  3.293043e+10

In [19]:
print(rawdata.info())
print(rawdata.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 119432 entries, 0 to 125717
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   income_groups  113419 non-null  object
 1   age            113543 non-null  float64
 2   gender         113525 non-null  float64
 3   year           113528 non-null  float64
 4   population     113406 non-null  float64
dtypes: float64(4), object(1)
memory usage: 5.5+ MB
None
                 age         gender           year    population
count  113543.000000  113525.000000  113528.000000  1.134060e+05
mean       49.998758       1.499872    2025.024232  1.112528e+08
std        29.146757       0.500002      43.583356  1.266380e+09
min         0.000000       1.000000    1950.000000  2.100000e+01
25%        25.000000       1.000000    1987.000000  2.309770e+06
50%        50.000000       1.000000    2025.000000  7.143632e+06
75%        75.000000       2.000000    2063.000000  1.466032e+07
max       100.000000       2.000000    2119.000000  3.293043e+10

In [20]:
for value in rawdata["gender"].unique():
    print(value, ":", sum(rawdata["gender"]== value))

1.0 : 56777
nan : 0
2.0 : 56748

In [21]:
rawdata = rawdata.dropna()
print(rawdata.info())
print(rawdata.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 92512 entries, 0 to 125717
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   income_groups  92512 non-null  object
 1   age            92512 non-null  float64
 2   gender         92512 non-null  float64
 3   year           92512 non-null  float64
 4   population     92512 non-null  float64
dtypes: float64(4), object(1)
memory usage: 4.2+ MB
None
                age        gender          year    population
count  92512.000000  92512.000000  92512.000000  9.251200e+04
mean      50.034871      1.500876   2025.083341  1.120045e+08
std       29.153472      0.500002     43.552705  1.270395e+09
min        0.000000      1.000000   1950.000000  2.200000e+01
25%       25.000000      1.000000   1987.000000  2.308390e+06
50%       50.000000      2.000000   2025.000000  7.152768e+06
75%       75.000000      2.000000   2063.000000  1.468286e+07
max      100.000000      2.000000   2119.000000  3.293043e+10

In [22]:
rawdata.isnull().sum()

income_groups    0
age              0
gender           0
year             0
population       0
dtype: int64

In [23]:
for drop_age in [0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0]:
    rawdata = rawdata.drop(rawdata[rawdata["age"]== drop_age].index)

print(rawdata.info())
print(rawdata.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 82450 entries, 906 to 125717
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   income_groups  82450 non-null  object
 1   age            82450 non-null  float64
 2   gender         82450 non-null  float64
 3   year           82450 non-null  float64
 4   population     82450 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB
None
               age        gender          year    population
count  82450.00000  82450.000000  82450.000000  8.245000e+04
mean      55.52980      1.501019   2025.108939  9.941250e+07
std       25.97717      0.500002     43.542682  1.162277e+09
min       11.00000      1.000000   1950.000000  2.200000e+01
25%       33.00000      1.000000   1987.000000  1.774970e+06
50%       56.00000      2.000000   2025.000000  6.843176e+06
75%       78.00000      2.000000   2063.000000  1.324970e+07
max      100.00000      2.000000   2119.000000  3.218242e+10

In [25]:
for value in rawdata["income_groups"].unique():
    print(value,":", sum(rawdata["income_groups"]== value))
    print("percentage : ", sum(rawdata["income_groups"]== value)/82450)

high_income : 19594
percentage :  0.2376470588235294
high_income_typo : 1033
percentage :  0.012528805336567616
low_income : 19621
percentage :  0.23797453001819285
low_income_typo : 1050
percentage :  0.012734990903577926
lower_middle_income : 19569
percentage :  0.2373438447543966
lower_middle_income_typo : 1038
percentage :  0.012589448150394178
upper_middle_income : 19539
percentage :  0.23697998787143723
upper_middle_income_typo : 1006
percentage :  0.012201334141904184

In [26]:
typo_correction = {
    "high_income_typo":"high_income", 
    "low_income_typo":"low_income", 
    "lower_middle_income_typo":"lower_middle_income", 
    "upper_middle_income_typo":"upper_middle_income"
}

rawdata["income_groups"]=rawdata["income_groups"].replace(typo_correction)

for value in rawdata["income_groups"].unique():
    print(value,":", sum(rawdata["income_groups"]== value))
    print("percentage : ", sum(rawdata["income_groups"]== value)/82450)

high_income : 20627
percentage :  0.250175864160097
low_income : 20671
percentage :  0.2507095209217708
lower_middle_income : 20607
percentage :  0.24993329290479077
upper_middle_income : 20545
percentage :  0.24918132201334142

In [27]:
print(rawdata.info())
print(rawdata.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 82450 entries, 906 to 125717
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   income_groups  82450 non-null  object
 1   age            82450 non-null  float64
 2   gender         82450 non-null  float64
 3   year           82450 non-null  float64
 4   population     82450 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB
None
               age        gender          year    population
count  82450.00000  82450.000000  82450.000000  8.245000e+04
mean      55.52980      1.501019   2025.108939  9.941250e+07
std       25.97717      0.500002     43.542682  1.162277e+09
min       11.00000      1.000000   1950.000000  2.200000e+01
25%       33.00000      1.000000   1987.000000  1.774970e+06
50%       56.00000      2.000000   2025.000000  6.843176e+06
75%       78.00000      2.000000   2063.000000  1.324970e+07
max      100.00000      2.000000   2119.000000  3.218242e+10

In [28]:
cleaned_data= rawdata.drop_duplicates().reset_index(drop=True)
print(cleaned_data.info())
print(cleaned_data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80268 entries, 0 to 80267
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   income_groups  80268 non-null  object
 1   age            80268 non-null  float64
 2   gender         80268 non-null  float64
 3   year           80268 non-null  float64
 4   population     80268 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.1+ MB
None
                age        gender          year    population
count  80268.000000  80268.000000  80268.000000  8.026800e+04
mean      55.520282      1.500934   2025.106630  1.018876e+08
std       25.975358      0.500002     43.558664  1.177870e+09
min       11.000000      1.000000   1950.000000  2.200000e+01
25%       33.000000      1.000000   1987.000000  1.781476e+06
50%       56.000000      2.000000   2025.000000  6.848320e+06
75%       78.000000      2.000000   2063.000000  1.328162e+07
max      100.000000      2.000000   2119.000000  3.218242e+10